$font-family: Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$breakpoint-extra-small: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

$container-max-width: 1200px;
$content-max-width: 1200px;

$box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

$color-white: #fff;
$color-black: #000;
$color-white-bg: hsla(0,0%,94%,.5);
$color-grey-bg: rgba(30,30,30,0.7);
